# Variables:

### 1.Declare a variable named age and assign it the value 25.

In [5]:
age = 25
print(age)

25

### 2.Can you reassign a variable in Python? Show an example.

In [6]:
age = 30
print(age)

30

### 3.How do you delete a variable in Python?

In [7]:
del age
#this code will give an error: NameError: name 'age' is not defined
print(age)

NameError: name 'age' is not defined

### 4.Demonstrate declaring and initializing a variable within a function.

In [8]:
def inside():
    inside_var = 99
    print(inside_var)
inside()

99

### 5.Create multiple variables, x, y, and z, and assign them the same value in a single line.

In [9]:
x=y=z = 10
print(x,y,z)

10 10 10

### 6.Swap the values of two variables a and b using a temporary variable

In [10]:
a = 10
b = 5
a,b = b,a 
print(a,b)

5 10

### 7.What happens if you try to access a variable that hasn't been declared?

* This will give a NameError saying that variable is not defined

### 8.Explain the concept of variable scope in Python.

In [16]:
#If variable declared outside of a function we can acces it from inside of a function
age = 18

def funct():
    print(age)

funct()

18

In [ ]:
#you can NOT access a variable from outside of a function which is inside of a function 
def funct():
    age= 20
funct()
print(age)

In [19]:
# if you want to acces it you need to use 'global' keyword
def funct():
    global age
    age = 20
funct()
print(age)

20

### 9.How can you check if two variables point to the same memory location?

In [20]:
a = 10
b = 10
print(id(a)==id(b))

True

### 10.Explain the purpose of the id() function in Python.

* It returns memory adress of each object. As you can see above we showed if variables are in same memory location

# Data Types

### 1.Name at least five different data types in Python.

1. String
2. Boolean
3. Integer
4. Float
5. List
6. Tuples etc.

### 2.How do you check the data type of a variable in Python?

* using type() function. for instance:

In [21]:
boolean = True
print(type(boolean))

<class 'bool'>

### 3.Explain type casting or type conversion in Python.

* There are 2 types of type casting 
* 1. implicit - where python converts one data type to another when it is needed. For example if we add float and integer pyhton will automatically convert integer to float
* 2. explicit - we can do it manually. For example:

In [29]:
w = 5
q = str(w)
print(type(q))

<class 'str'>

### 4.Convert the integer age into a string and store it in a variable age_str.

In [30]:
age = 18
age_str = str(age)
print(type(age_str))

<class 'str'>

### 5.Convert the string "3.14" into a float and store it in a variable pi.

In [ ]:
string = 3.14
pi = float(string)
print(pi)

### 6.What is the None data type in Python used for?

 * It can be used to initialize a variable that you don't want to assign any value yet. For example:

In [33]:
def something():
    print("Nothing with value")

result = something()
print(result)

Nothing with value
None

### 7.Explain the difference between mutable and immutable data types with examples.

* Basically objects can be changed after creation are called mutable and objects that can not be changed are called immutable

### 8.Give examples of immutable data types in Python.

* Lists
* Sets
* Dictionaries

In [34]:
list  = [1,2,3,4,5]

new_list = list.insert(6,7)
print(list)

[1, 2, 3, 4, 5, 7]

### 9.Give examples of mutable data types in Python.

In [36]:
my_string = "Everything is data"
new_string = my_string.upper() 
print(new_string)

EVERYTHING IS DATA

### 10.How can you check if a variable is None in Python?

In [37]:
x = None

if (x is None):
    print('X is none')
    
elif():
    print("x is not none")

X is none

# Strings

### 1.Create a string variable greeting and assign it the value "Hello, World of Data!".

In [38]:
greeting = "Hello, World of Data"
print(greeting)

Hello, World of Data

### 2.Find the length of the string "Python is amazing!".

In [39]:
length = len('Python is amazing')
print(length)

17

### 3.Extract the word "Python" from the string "Python is versatile!" using string slicing.

In [40]:
sentence = "Python is versatile!"
word_python = sentence.split()[0]
print(word_python)

Python

### 4.Concatenate the strings "Hello" and "World" into a single string.

In [1]:
first_string = "Hello "
second_string = "World"
concatenate = first_string + second_string
print(concatenate)

Hello World

### 5.Convert the string "hello" to uppercase, then convert uppercase to lowercase.

In [3]:
string = "hello"
uppercase = string.upper()
print(uppercase)
lowercase = uppercase.lower()
print(lowercase)

HELLO
hello

# Numeric Operations

### 1.Calculate the result of 10 divided by 3 and obtain the remainder.

In [7]:
calculate = int(10/3)
remainder = 10%3
result = calculate,remainder
print(result)

(3, 1)

### 2.Perform exponentiation: raise 5 to the power of 3.

In [11]:
number  = 5
power = 3
exponential = number ** power
print(exponential)

125

### 3.Find the absolute value of -7.

In [14]:
number = -7
absolute_value = abs(number)
print(absolute_value)

7

### 4.Convert the float 3.1416 into an integer.

In [15]:
floating_num = 3.1416
integer = int(floating_num)
print(integer)

3

### 5.Increment a numeric variable count by 1.

In [16]:
count = 99 
count += 1
print(count)

100

# Boolean operations

### 1.Create a Boolean variable is_valid and set it to True.

In [17]:
is_valid = True
print(is_valid)

True

### 2.Perform the logical AND operation between True and False.

In [18]:
boolean1 = True
boolean2 = False
if (boolean1 & boolean2 == True):
    print(True)
else:
    print(False)

False

### 3.Perform the logical OR operation between True and False.

In [20]:
boolean1 = True
boolean2 = False
if (boolean1 | boolean2 == True):
    print(True)
else:
    print(False)

True

### 4.Negate the value of a Boolean variable flag.

In [21]:
flag = True
negated_flag = not True
print(negated_flag)

False

### 5.Check if both x and y are not equal.

In [28]:
x = True
y = not False
if x and y:
    print(True)
else:
    print(False)

True

# Advanced Concepts

### 1.Explain the concept of dynamic typing in Python.

* Dynamic typing in Python means you don't have to declare a variable's type before using it. You can assign different types of data to a variable at different times during your program. For instance, a variable could hold a number and later hold a string

### 2.How do you check if two variables hold the same value in Python?

* You can use the equality operator == to check if two variables hold the same value in Python. For example:

In [29]:
a = 5
b = 5

if a == b:
    print("They hold the same value.")
else:
    print("They are different.")

They hold the same value.

### 3.Explain the difference between '==' and 'is' in Python.

* '==' checks if two variables have same value, while 'is' checks if variables have same memory adress

In [30]:
a = [1, 2, 3]
b = [1, 2, 3]

print(a == b)  #Output: True
print(a is b)  #Output: False because they point to different memory locations

True
False

### 4.What happens if you assign a value to a variable inside a function without using the 'global' keyword in Python?

* If you try to access a variable from within a function without it being explicitly available within that function's scope, you'll encounter a NameError. You can only access a variable from within the function if it's declared or passed into that specific function.

### 5.Explain the concept of truthy and falsy values in Python.

- empty lists, strings, dictionaries, tuples, ranges, integers, floats that are 0 etc. called falsy because these has no values while non-zero integers, non-empty sequences or collections